<#include "include/header.html">

<body>
<!--引用外部资源-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<script src="${base.contextPath}/common/code?orderStatus=SYS.ORDER_STATUS" type="text/javascript"></script>

<script>

    <!--title_bar的viewModel-->

    var viewModel2 = kendo.observable({
        model:{

        },
        addFunction:function(){
            //页面跳转，跳转到订单明细界面
            self.location="sales_order_detail.html?operation=new";
        },
        queryResource: function (e) {
            //查询资源
            console.log("资源查询");

            //查询显示第一页的资源
            $('#OrderListGrid').data('kendoGrid').dataSource.page(1);

        },
        resetForm: function (e) {
            //重置
            console.log("重置");

            //表单重置
            document.getElementById("myForm").reset();

            //查询所有资源
            $('#OrderListGrid').data('kendoGrid').dataSource.page(1);

        },
        orderStatus: orderStatus
    });

</script>

<div id="content-container">
    <div id="page-content">
        <!--查询面板-->
        <div class="panel" style="padding: 0px;border:none;box-shadow: none;">

            <form class="form-horizontal" id="myForm">
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 10px;">

                        <!--lov-->
                        <!--显示公司名称，基于公司ID进行关联查询
                            第一列：公司编码，第二列：公司名称
                        -->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><!--公司名称--><@spring.message "test.company_name"/></label>
                                <div class="col-sm-9">
                                    <input id="input_company_name" type="text" style="width: 100%">
                                    <script>
                                        $("#input_company_name").kendoLov($.extend(<@lov "TEST_LOV_COMPANY2"/>, {
                                            model:{},
                                            dataTextField: 'companyName',
                                            query:function(e){
                                                //e.param['positionId'] = options.model.positionId;
                                            },
                                            dataValueField:'companyId'
                                        }));
                                    </script>
                                </div>
                            </div>
                        </div>

                        <!--LOV-->
                        <!--根据客户编码、主人编码，查询客户name-->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><!--客户名称--><@spring.message "test.customername"/></label>
                                <div class="col-sm-9">
                                    <input id="inp_customer_name" type="text" class="k-textbox" style="width: 100%">
                                    <script>
                                        $("#inp_customer_name").kendoLov($.extend
                                            (${lovProvider.getLov(base.contextPath, base.locale, "Test_LOV_CUSTOMER02")}, {
                                                //query是得到结果后的方法,e参数为lov选中行的数据
                                                query: function (e) {
                                                    //设置companyId
                                                    var companyId=$("#input_company_name").val();
                                                    if(companyId!="")
                                                    {
                                                        e.param['companyId'] =companyId;
                                                        console.log("companyId:"+companyId);
                                                    }
                                                    //启用
                                                    e.param['enabledFlag'] = 'Y';
                                                }
                                            })
                                        )
                                    </script>
                                </div>
                            </div>
                        </div>

                        <!--普通文本字段-->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><!--销售订单--><@spring.message "test.order_number"/></label>
                                <div class="col-sm-9">
                                    <input id="inp_order_number" type="text" class="k-textbox" style="width: 100%">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row ">

                        <!--lov-->
                        <!--显示物料描述，基于物料ID进行关联查询
                            第一列物料编码，第二列物料描述
                        -->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><!--物料--><@spring.message "test.item"/></label>
                                <div class="col-sm-9">
                                    <input id="inp_inventory_item" type="text" class="k-textbox" style="width: 100%">
                                    <script>
                                        $("#inp_inventory_item").kendoLov($.extend
                                            (${lovProvider.getLov(base.contextPath, base.locale, "TEST_LOV_INVENTORY_ITEM")}, {
                                                //query是得到结果后的方法,e参数为lov选中行的数据
                                                query: function (e) {
                                                    //启用
                                                    e.param['enabledFlag'] = 'Y';
                                                }
                                            })
                                        )
                                    </script>
                                </div>
                            </div>
                        </div>

                        <!--下拉列表-->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3  control-label"><!--订单状态--><@spring.message "test.order_state"/></label>
                                <div class="col-sm-9">
                                    <select id="sel_order_status" data-role="dropdownlist" data-value-primitive="true" data-text-field="meaning" style="width:100%" data-value-field="value"
                                    data-bind="source: orderStatus" ></select>
                                </div>
                            </div>
                        </div>
                        <script>kendo.bind($('#sel_order_status'), viewModel2);</script>
                    </div>

                    <div class="row " >
                            <div class="col-sm-4" id="toolbar-btn">
                                <span id="btn_query" class="btn btn-default"
                                type="button" data-bind="click:queryResource"><!--查询--><@spring.message "test.query"/></span>
                                <span id="btn_reset" class="btn btn-default" type="button" data-bind="click:resetForm"><!--重置--><@spring.message "test.reset"/>
                                </span>
                            </div>
                    </div>

                </div>
            </form>

            <div>
                <!--查询结果表格面板-->
                <!--查询结果表格-->
                <div style="clear:both" >
                    <div id="OrderListGrid"></div>
                </div>

            </div>
            <script>kendo.bind($('#myForm'), viewModel2);</script>
        </div>
        </div>

        <script>

            //得到参数
            function getParam(){
                var orderS = $('#sel_order_status').val();

                if($('#sel_order_status').val()=="null"&&$('#sel_order_status').val()!="")
                    orderS="";

                console.log($('#input_company_name').val()+" "+$('#inp_customer_name').val()+" "+$('#inp_order_number').val()+" "+$('#inp_inventory_item').val()+" "+orderS);


                //查询条件
                var querycondition={
                    companyId:$('#input_company_name').val(),
                    customerId:$('#inp_customer_name').val(),
                    orderNumber:$('#inp_order_number').val(),
                    itemId:$('#inp_inventory_item').val(),
                    orderStatus:orderS
                };
                return querycondition;
            }



            //数据源
            var dataSource=new kendo.data.DataSource({
                transport:{
                    read: {
                        url: "${base.contextPath}/TestOrderTotal/queryOrderTotal",
                        dataType: "json",
                        type: "GET"
                    },
                    //得到发送的json参数
                    parameterMap: function (data, type) {
                        if(type=="read"){
                            return getParam();
                        }
                    }
                },
                batch: true,
                serverPaging: true,
                pageSize: 10,
                schema: {
                    data: 'rows',
                    total: 'total',
                    model: {
                        id: "headId",
                        fields: {
                            orderNumber: {type: "string"},
                            companyName: {type: "string"},
                            customerName: {type: "string"},
                            orderDate: {type: "string"},
                            orderStatus: {type: "string"},
                            totalSum: {type: "long"}
                        }
                    }
                }
            });

            //初始化OrderListGrid控件
            var grid = $("#OrderListGrid").kendoGrid(
                {
                    height: '100%',
                    resizable: true,
                    scrollable: true,
                    excel: {
                        fileName: "sales_index.xlsx",
                        allPages: true
                    },
                    toolbar: [{
                        //新建按钮,点击以后跳转到订单明细页面
                        template: '<span id="btn_add" class="btn btn-primary" type="button" data-bind="click:addFunction"><@spring.message "hap.new"/></span>'
                    },
                        {
                            name:"excel"
                        }],
                    //数据源
                    dataSource: dataSource,
                    //列
                    columns:[
                        //销售订单号，2．点击销售订单号可进入到销售订单明细界面进行查看或修改
                        {
                            field:"orderNumber",
                            headerAttributes: {
                                "class": "table-header-cell",
                                style: "text-align: center"
                            },
                            width: 100,
                            title:'<@spring.message "test.order_number"/>',
                            template: function(item){
                                return '<a style="text-decoration: underline;" href="sales_order_detail.html?operation=edit&headId='+item.headId+'">'+item.orderNumber + '</a>';
                            }
                        },
                        //公司名称
                        {
                            field:"companyName",
                            headerAttributes: {
                                "class": "table-header-cell",
                                style: "text-align: center"
                            },
                            width: 100,
                            title:'<@spring.message "test.company_name"/>'
                        },
                        //客户名称
                        {
                            field:"customerName",
                            headerAttributes: {
                                "class": "table-header-cell",
                                style: "text-align: center"
                            },
                            width: 100,
                            title:'<@spring.message "test.customername"/>',
                        },
                        //订单日期
                        {
                            field:"orderDate",
                            headerAttributes: {
                                "class": "table-header-cell",
                                style: "text-align: center"
                            },
                            width: 100,
                            title:'<@spring.message "test.order_date"/>',
                        },
                        //订单状态
                        {
                            field:"orderStatus",
                            headerAttributes: {
                                "class": "table-header-cell",
                                style: "text-align: center"
                            },
                            width: 100,
                            title:'<@spring.message "test.order_state"/>',
                        },
                        //订单金额
                        {
                            field:"totalSum",
                            headerAttributes: {
                                "class": "table-header-cell",
                                style: "text-align: center"
                            },
                            width: 100,
                            title:'<@spring.message "test.order_price"/>',
                        }
                    ],
                    //分页
                    pageable: {
                        pageSizes: ['All', 5, 10, 20, 50],
                        refresh: true,
                        buttonCount: 5
                    }

                }
            ).data("kendoGrid");
            kendo.bind($('#OrderListGrid'), viewModel2);

            //自动根据当前屏幕大小调整表格
            Hap.autoResizeGrid("#OrderListGrid");

        </script>

    </div>
</div>
</body>
</html>
